<h1>About</h1>
<div>
    <p>
        Something about this tool which I forgot to elaborate
    </p>
</div>
<div>
    <p>
        Here is a selfie I took years ago, so I might not exactly look as in the picture now.
    </p>
    <img alt="Bad hat day" src="https://s-media-cache-ak0.pinimg.com/236x/6c/c3/dc/6cc3dca8f5318d285144bfa4bf837123.jpg"/>
</div>
